@use "../colors";

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    min-height:680px;

    background-image: url("data:image/svg+xml,%3Csvg%20class%3D%22home-background%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Asvgjs%3D%22http%3A%2F%2Fsvgjs.dev%2Fsvgjs%22%20preserveAspectRatio%3D%22none%22%20viewBox%3D%220%200%201440%20600%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20mask%3D%22url(%26quot%3B%23SvgjsMask1096%26quot%3B)%22%20fill%3D%22none%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20width%3D%221440%22%20height%3D%22600%22%20x%3D%220%22%20y%3D%220%22%20fill%3D%22%230e2a47%22%3E%3C%2Frect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M0%2C455.069C105.624%2C470.251%2C211.65%2C521.59%2C312.147%2C485.711C420.382%2C447.07%2C525.553%2C365.278%2C559.261%2C255.406C592.563%2C146.856%2C507.651%2C41.346%2C482.44%2C-69.364C459.765%2C-168.939%2C473.47%2C-276.569%2C418.516%2C-362.647C359.25%2C-455.479%2C267.628%2C-522.83%2C165.936%2C-565.126C56.448%2C-610.664%2C-68.295%2C-652.5%2C-179.517%2C-611.38C-289.453%2C-570.736%2C-342.081%2C-450.358%2C-407.517%2C-353.115C-465.508%2C-266.935%2C-524.226%2C-180.316%2C-538.793%2C-77.467C-553.341%2C25.252%2C-541.281%2C133.69%2C-489.169%2C223.396C-439.263%2C309.304%2C-349.146%2C361.039%2C-259.355%2C403.564C-178.05%2C442.07%2C-89.047%2C442.27%2C0%2C455.069%22%20fill%3D%22%230a1d30%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M1440%201221.06C1564.529%201229.287%201703.495%201239.995%201802.318%201163.778%201899.952%201088.478%201915.316%20950.457%201945.778%20830.981%201971.595%20729.726%201987.871%20626.502%201965.321%20524.47%201943.821%20427.188%201872.7350000000001%20354.837%201821.642%20269.305%201757.936%20162.659%201746.733-3.740000000000009%201627.991-40.238000000000056%201509.633-76.61800000000005%201415.925%2079.14700000000005%201295.405%20107.555%201164.008%20138.527%20988.063%2029.76800000000003%20899.337%20131.51299999999998%20810.714%20233.14%20930.028%20391.821%20929.9259999999999%20526.662%20929.8430000000001%20636.216%20867.33%20742.221%20898.796%20847.159%20932.178%20958.49%201011.568%201051.791%201107.194%201117.856%201204.729%201185.24%201321.71%201213.245%201440%201221.06%22%20fill%3D%22%2313375e%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cmask%20id%3D%22SvgjsMask1096%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20width%3D%221440%22%20height%3D%22600%22%20fill%3D%22%23ffffff%22%3E%3C%2Frect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fmask%3E%0A%20%20%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3C%2Fsvg%3E");
}

.home-container {
  display: flex;
  justify-content: center;
  width:100%;
  left:0;
  top:0;
  right:0;
  bottom:0;
}

.home-describe {
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    width:auto;
    height: 100v;
    gap: 30px;
}

.describe {
  width:450px;

    h1,span {
        font-size: 2.5rem;
        text-align: left;
        font-weight: 700;
    }

    .home-name,
    .typewriter {
        color: colors.$red-color;
    }
} 

  @keyframes typing {
    0.0000%, 20.3488% { content: ""; }
    1.1395%, 19.2093% { content: "P"; }
    2.2791%, 18.0698% { content: "PH"; }
    3.4186%, 17.9302% { content: "PHP"; }
  
    24.7674%, 35.2791% { content: ""; }
    25.9070%, 35.1395% { content: "C"; }
    27.0465%, 33.0000% { content: "C#"; }
  
    35.6977%, 55.2093% { content: ""; }
    36.8372%, 54.0698% { content: "P"; }
    37.9767%, 53.9302% { content: "Py"; }
    38.1163%, 52.7907% { content: "Pyt"; }
    39.2558%, 51.6512% { content: "Pyth"; }
    40.3953%, 50.5116% { content: "Pytho"; }
    41.5349%, 49.3721% { content: "Python"; }
  
    62.6279%, 85.8605% { content: ""; }
    63.7674%, 84.7209% { content: "S"; }
    64.9070%, 83.5814% { content: "SQ"; }
    65.0465%, 82.4419% { content: "SQL"; }
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .typewriter {
    --caret: currentcolor;
  }
  
  .typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
  }
  
  .typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.5s linear infinite;
  }
  
  .typewriter.thick::after {
    border-right: 1ch solid var(--caret);
  }
  
  .typewriter.nocaret::after {
    border-right: 0;
  }
  
  
  @media (prefers-reduced-motion) {
    .typewriter::after {
      animation: none;
    }
    
    @keyframes sequencePopup {
      0%, 100% { content: "PHP"; }
      25% { content: "C#"; }
      50% { content: "Python"; }
      75% { content: "SQL"; }
    }
  
    .typewriter::before {
      content: "PHP";
      animation: sequencePopup 12s linear infinite;
    }
  }
  
  /**/

  .php-code {
    width:470px;
    height: 415px;
    background-color: rgba(255, 255, 255, 0.815);
    padding: 20px;
    border-radius: 5px;
    overflow: auto;
    max-width: 500px;
    white-space: pre-wrap;
    font-family: Courier, monospace;
    font-size: 16px;
    animation: fadeIn 2s ease forwards;

    code {
      background: none;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
  .home-describe {
    grid-template-columns: 100%;
    margin-top: 100px;
  }

  .home {
    height:900px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 600px) {
  .home-describe {
    grid-template-columns: 100%;
    margin-top: 100px;
  }

  .home {
    height:900px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .home-describe {
    grid-template-columns: 100%;
    margin-top: 100px;
  }

  .home {
    height:900px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .home-describe {
    grid-template-columns: 50% 50%;
  }

  .home {
    height:600px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .home-describe {
    grid-template-columns: 50% 50%;
  }

  .home {
    height:600px;
  }
}