@use "../colors";

.skills-container {
    .skills {
        .skill {
            display: grid;
            grid-template-columns: 50% 50%;
            height: auto;
            .skill-code {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                flex-wrap: nowrap;
                align-items: center;

                img {
                    margin-top: 50px;
                    width:100px;
                    height:100px;
                }

                pre {
                    width:470px;
                    border-radius: 5px;
                    overflow: auto;
                    max-width: 500px;
                    white-space: pre-wrap;
                    font-family: Courier, monospace;
                    font-size: 16px;
                    animation: fadeIn 2s ease forwards;

                    code {
                        background: none;
                    }
                }
            }
        }
    }
}

.skill-subcontainer {
    color:white;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: colors.$dark-color;

    .skill-description {
        font-size: 150%;
        width:480px;
    }
}

.skill-button-wrapp {
    margin-top: 70px;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .skill-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        $width: 150px;
        $height: 50px;

        width:$width;
        height:$height;
        position: relative;

        color: colors.$white-color;

        cursor: pointer;

        &:hover {
            svg {
                rect {
                    stroke-dasharray: 100%;
                    stroke-dashoffset: -$width - $height + $width;
                    stroke-width: 4px;
                }
            }
        }

        svg {
            position: absolute;
            width:$width;
            height:$height;

            rect {
                width:$width;
                height:$height;

                stroke-dasharray: $width 600;
                stroke-dashoffset: -$width - $height;
                stroke-width: 8px;
                stroke-linecap: round;
                fill: transparent;
                stroke: colors.$white-color;
                transition: stroke-opacity 1s, stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
            }
        }
    }
}