.skill-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container-res {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;

        .resume-sub-container {
            width: 80vw;
            justify-content: center;
            height:auto;

            .resume-skills {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 80vw;
            }
        }
    }
}

.skill {
    position: relative;
    width: 200px;
    height: 250px;
    margin: 25px 20px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        img {
            filter: blur(5px) brightness(20%);
            -webkit-filter: blur(1px) brightness(20%); /* Для Safari і Chrome */
            -moz-filter: blur(5px) brightness(20%); /* Для Firefox */
            -o-filter: blur(5px) brightness(20%); /* Для Opera */
            -ms-filter: blur(5px) brightness(20%); /* Для Internet Explorer */ 
        }

        .skill-cosas {
            img.logo {
                width: 40px;
                height: auto;
            }

            .skill-name {
                font-size: 140%;
            }
        }
    }

    img {
        position: absolute;
        width: 100%;
        transform: scale(2.5) translateY(20px);
        filter: blur(5px) brightness(50%);
        -webkit-filter: blur(1px) brightness(50%); /* Для Safari і Chrome */
        -moz-filter: blur(5px) brightness(50%); /* Для Firefox */
        -o-filter: blur(5px) brightness(50%); /* Для Opera */
        -ms-filter: blur(5px) brightness(50%); /* Для Internet Explorer */
        z-index: 0;

        transition: all .5s ease;
    }
    
    .skill-cosas {
        z-index: 10;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;

        img.logo {
            filter: none;
            width: 30px;
            height: auto;
            transition: all .5s ease;
        }

        .skill-name {
            color: #fff;
            font-size: 120%;
            margin-top: 150px;
            transition: all .5s ease;
        }

        .skill-progress {
            margin-top: 30px;
            position: relative;
            height:7px;
            border: 1px solid white;
            width:50%;
            border-radius: 5px;
    
            .line {
                height:100%;
                background-color: white;
            }
        }
    }
}