<div class="header_container">
    <div class="container">
        <div class="header">
            <div class="head-button-wrapp">
                <div class="portf-button">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect></rect>
                    </svg>
                    Web site card
                </div>
            </div>
            <div class="nav_button">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="sub_head_container">
                <div class="head-button-wrapp">
                    <div class="head-home-button">
                        <svg xmlns="http://www.w3.org/2000/svg">
                            <rect></rect>
                        </svg>
                        Home
                    </div>
                </div>
                <div class="head-button-wrapp">
                    <div class="head-about-me-button">
                        <svg xmlns="http://www.w3.org/2000/svg">
                            <rect></rect>
                        </svg>
                        About me
                    </div>
                </div>
                <div class="head-button-wrapp">
                    <div class="head-resume-button">
                        <svg xmlns="http://www.w3.org/2000/svg">
                            <rect></rect>
                        </svg>
                        Resume
                    </div>
                </div>
            </div>
            <div class="sub_head_container_nav">
                <div class="head-button-wrapp">
                    <div class="head-home-button">
                        <svg xmlns="http://www.w3.org/2000/svg">
                            <rect></rect>
                        </svg>
                        Home
                    </div>
                </div>
                <div class="head-button-wrapp">
                    <div class="head-about-me-button">
                        <svg xmlns="http://www.w3.org/2000/svg">
                            <rect></rect>
                        </svg>
                        About me
                    </div>
                </div>
                <div class="head-button-wrapp">
                    <div class="head-resume-button">
                        <svg xmlns="http://www.w3.org/2000/svg">
                            <rect></rect>
                        </svg>
                        Resume
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
