@use "../../colors";

.header_container {
    width:100%;
    position: fixed;
    align-items: center;
    padding: 0px 20px;
    background-color: rgba(colors.$dark-color, .0);
    z-index: 101;

    transition: background-color .2s ease;
}

.header-text {
    display:flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    top: -25px;
    position: relative;
}

.head-button-wrapp {
    padding: 5px 0px;
    width:130px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 120%;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        $width: 150px;
        $height: 50px;

        width:$width;
        height:$height;
        position: relative;

        color: colors.$white-color;

        cursor: pointer;

        &:hover {
            svg {
                rect {
                    $delta: calc($width / 4);
                    $newWidth: calc($width - $delta * 2);

                    stroke-width: 2px;
                    stroke-dasharray: $newWidth 600;
                    stroke-opacity: 100;
                    stroke-dashoffset: -$width - $height - $delta;
                }
            }
        }

        svg {
            position: absolute;
            width:$width;
            height:$height;

            rect {
                width: $width;
                height: $height;

                stroke-dasharray: $width 600;
                stroke-dashoffset: -$width - $height;
                stroke-width: 8px;
                stroke-opacity: 0;
                stroke-linecap: round;
                fill: transparent;
                stroke: colors.$w-blue-color;
                transition: stroke-opacity 1s, stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
            }
        }
    }
}

.portf_button {
    font-size: 130%;
    transition: all .5s ease;

    svg {
        rect {
            stroke: rgba(0,0,0,0);
        }
    }
}

.nav_button {
    cursor: pointer;
    height:40px;

    div {
        margin-top: 4px;
        width:40px;
        height:7px;
        background-color: rgb(148, 148, 148);
        border-radius: 5px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav_button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .head_button {
        padding: 20px 0px;
    }

    .sub_head_container {
        display: none;
    }

    .sub_head_container_nav {
        display:  none;
        grid-template-columns: auto;
    }

    .header {
        display: grid;
        align-items: center;
        width:400px;
        grid-template-columns: 90% 10%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 600px) {
    .nav_button {
        display: none;
    }

    .sub_head_container {
        display: flex;
    }

    .sub_head_container_nav {
        display:  none;
        grid-template-columns: none;
    }

    .header {
        display: flex;
        width:600px;
        justify-content: space-between;
    }
}

$windowSizes: 768px, 992px, 1200px;

@each $size in $windowSizes {
    @media only screen and (min-width: $size) {
        .header {
            width:$size;
        }
    }
}