:root {
    --header-bg: rgb(223, 223, 223);
    --head-btn-hover: rgba(133,133,133,255);
}

.header {
    position: fixed;
    align-items: center;
    padding: 0px 20px;
    background-color: var(--header-bg);
}

.head_button {
    font-size: 100%;
    padding: 11px 10px;
    text-decoration: none;

    border-bottom: 2px solid rgba(160, 160, 160, 0);
    transition: border-color .5s ease;
}

.head_button:hover {
    border-color: var(--head-btn-hover);
    color: var(--head-btn-hover);
}

.portf_button {
    font-size: 120%;
}

.nav_button {
    cursor: pointer;
}

.nav_button>div {
    margin-top: 4px;
    width:40px;
    height:7px;
    background-color: rgb(148, 148, 148);
    border-radius: 5px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav_button {
        display: block;
    }

    .sub_head_container {
        display: none;
    }

    .sub_head_container_nav {
        display:  none;
        grid-template-columns: auto;
    }

    .header {
        display: grid;
        width:400px;
        grid-template-columns: 90% 10%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 600px) {
    .nav_button {
        display: none;
    }

    .sub_head_container {
        display: flex;
    }

    .sub_head_container_nav {
        display:  none;
        grid-template-columns: none;
    }

    .header {
        display: flex;
        width:600px;
        justify-content: space-between;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .header {
        width:768px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header {
        width:992px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header {
        width:1200px;
    }
}