.index_about_me_container {
    display: grid;
    margin-top: 100px;
    width:1000px;
}

.index_about_me_container>img {
    margin-right: 40px;
    height: 500px;
    background-color: rgb(60,60,60);
}

.index_about_me_unit {
    font-size: 130%;
    margin:30px 0px;
}

.index_about_me_unit>div>a {
    font-size: 135%;
    margin-left: 10px;
}

.index_button {
    padding: 10px 20px;
    border: 2px solid var(--button-color);
    text-decoration: none;
    transition: background-color .5s ease;
}

.index_button:hover {
    background-color: rgb(230, 230, 230);
}

.paragraph_title {
    font-size: 150%;
    text-decoration: none;
    color: var(--button-color);
}

.paragraph_title:hover {
    color: rgb(60,60,60);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .index_about_me_container {
        grid-template-columns: 400px;
    }

    .index_about_me_container>img {
        margin-right: 0px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 600px) {
    .index_about_me_container {
        grid-template-columns: 600px;
    }

    .index_about_me_container>img {
        margin-right: 0px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .index_about_me_container {
        grid-template-columns: 768px;
    }

    .index_about_me_container>img {
        margin-right: 0px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .index_about_me_container {
        grid-template-columns: 50% 50%;
    }

    .index_about_me_container>img {
        margin-right: 40px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .index_about_me_container {
        grid-template-columns: 50% 50%;
    }

    .index_about_me_container>img {
        margin-right: 40px;
    }
}