<a href="" class="chapter-title"># About me</a>
<div class="index_about_me_container">
    <div class="code-blocks">
        <pre class="php-code">
            <code class="language-php">
namespace App\Controller;
use App\Entity\Project;

use Doctrine\ORM\EntityManagerInterface;
use Symfony\Bundle\FrameworkBundle\Controller\AbstractController;
use Symfony\Component\HttpFoundation\Response;
use Symfony\Component\Routing\Annotation\Route;

class DBProjectController extends AbstractController implements DBControllerInterface
{
    protected array $project_errors = [
        "add_error" => "The project under this git link already exist",
        "remove_error" => "The projects doesn't found" 
    ];

    #[Route('/db/project/add', name: 'app_db_project_add')]
    public function add(EntityManagerInterface $entityManagerInterface): Response
    {   
        if (!array_key_exists("project", $_POST)) return $this->render('db/project/add.html.twig', ['error' => false]);
        ...
    }
}
            </code>
        </pre>
    </div>
    <div class="about-me-grid-container">
        <div class="index_about_me">
            <p class="index-about-text">
                Greetings, my name is Dmitriy.
                 and I am an 18-year-old individual hailing from Ukraine. 
                 For the past four years, I have dedicated myself to the intensive development of my programming skills. 
                 My fervent passion for this field has enabled me to master the syntax of numerous programming languages.

                My repertoire of knowledge encompasses the syntax of various programming languages, 
                including but not limited to:
            </p>
            <div class="index-about-text">
                <div>
                    <a href="">"Python"</a>
                    <a href="">"JavaScript"</a>
                    <a href="">"TypeScript"</a>
                </div>
                <div>
                    <a href="">"NodeJs"</a>
                    <a href="">"C#"</a>
                    <a href="">"Java"</a>
                    <a href="">"PHP"</a>
                </div>
            </div>
            <p class="index-about-text">
                This extensive range of skills enables me to create a diverse array of programs and web applications, 
                utilizing a plethora of technologies and tools with great enthusiasm.
            </p>
            <div class="index-button-wrapp">
                <div class="index-button">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect></rect>
                    </svg>
                    More About Me
                </div>
            </div>
        </div>
    </div>
</div>