<div class="index_about_me_container">
    <div class="img-grid-container">
        <img src="" alt="My photo">
    </div>
    <div class="about-me-grid-container">
        <div class="index_about_me">
            <a href="" class="chapter-title"># About me</a>
            <p class="index-about-text">
                Greetings, my name is Dmitriy.
                 and I am an 18-year-old individual hailing from Ukraine. 
                 For the past four years, I have dedicated myself to the intensive development of my programming skills. 
                 My fervent passion for this field has enabled me to master the syntax of numerous programming languages.

                My repertoire of knowledge encompasses the syntax of various programming languages, 
                including but not limited to:
            </p>
            <div class="index-about-text">
                <div>
                    <a href="">"Python"</a>
                    <a href="">"JavaScript"</a>
                    <a href="">"TypeScript"</a>
                </div>
                <div>
                    <a href="">"NodeJs"</a>
                    <a href="">"C#"</a>
                    <a href="">"Java"</a>
                    <a href="">"PHP"</a>
                </div>
            </div>
            <p class="index-about-text">
                This extensive range of skills enables me to create a diverse array of programs and web applications, 
                utilizing a plethora of technologies and tools with great enthusiasm.
            </p>
            <div class="index-button-wrapp">
                <div class="index-button">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect></rect>
                    </svg>
                    More About Me
                </div>
            </div>
        </div>
    </div>
</div>