<div class="home" id="home">
    <div class="container">
        <div class="home-container">
            <div class="home-describe">
                <div class="describe">
                    <h1>Hello</h1>
                    <h1>My name is <span class="home-name">Dmytrii</span></h1>
                    <h1>I am a 
                        <span class="type-element">C#</span> 
                        <span class="type-element">Python</span>
                        <span class="type-element">PHP</span>
                        <span class="type-element">NodeJs</span>
                    developer</h1>
                </div>
                <div class="home-scroll-container">
                    <img src="/images/button-icon/arrow.png" alt="">
                    <div class="scroll-content">
                        <div class="content">
                            <img src="/images/lg-icon/csharp.png" alt="">
                            <div>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat facere omnis, illo, magnam deleniti fuga officia explicabo fugit aspernatur autem aut dolores nihil alias quo non dolorem quis soluta unde.
                            </div>
                        </div>
                        <div class="content">
                            <img src="/images/lg-icon/python.png" alt="">
                            <div>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptate deleniti ab a obcaecati? Id vel repellendus commodi natus soluta neque, aspernatur, architecto nihil voluptatem, voluptates fugiat? Asperiores, maiores deleniti?
                            </div>
                        </div>
                        <div class="content">
                            <img src="/images/lg-icon/php.png" alt="">
                            <div>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quia adipisci eveniet dolor ipsa possimus, iure quasi. Temporibus fugit veniam tenetur provident alias praesentium exercitationem ratione! Provident inventore officiis culpa?
                            </div>
                        </div>
                        <div class="content">
                            <img src="/images/lg-icon/js.png" alt="">
                            <div>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore placeat aliquam inventore numquam, enim molestias optio, mollitia possimus qui vero, aliquid error aperiam. Voluptatum eligendi qui corporis! Inventore, doloribus amet!
                            </div>
                        </div>
                    </div>
                    <img src="/images/button-icon/arrow.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>