<div class="home" id="home">
    <div class="container">
        <div class="home-container">
            <div class="home-describe">
                <div class="describe">
                    <h1>Hello</h1>
                    <h1>My name is <span class="home-name">Dmytrii</span></h1>
                    <h1>I am a <span class="typewriter"></span> developer</h1>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>