<div class="container">
    <div class="index_language_container">
        <a href="" class="paragraph_title"># Languages</a>
        <div class="languages">
            {% for language in languages %}
                <div class="language">
                    <div class="language-container">
                        <div class="language-name-container">
                            <div class="language-name-int language-int">Language</div>
                            <div class="language-name language-desc">{{language.name}}</div>
                        </div>
                        <div class="language-rate-container">
                            <div class="language-rate-int language-int">Rate</div>
                            <div class="language-rate language-desc">{{language.rate}}/10</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>