<div class="resume-container background-resume">
    <div class="container-res">
        <div class="resume-sub-container" style="overflow:hidden;">
            <div class="cnt wow animate__animated animate__fadeInRight" data-wow-duration="1s">
                <div class="title" id="chapter-education">Education</div>
                <div class="resume-education-school">
                    <div class="resume-education-school-title">WSPA (Hight School)</div>
                    <div class="resume-education-school-description">
                        I am currently a second-year student at WSPA University in Lubin, Poland,
                        majoring in Computer Science. The choice of profession was meaningful and 
                        reasonable for me, and I feel really passionate about working in the field 
                        of web development. During my first year, I received excellent grades, 
                        which further increased my motivation for further achievements. 
                        Studying at WSPA provides me with a great opportunity to deepen my knowledge 
                        in the field of computer science, especially in the context of web development.
                    </div>
                </div>
            </div>
            <div class="cnt wow animate__animated animate__fadeInLeft" data-wow-duration="1s">
                <div class="title">Languages</div>
                <div class="resume-language-description">
                    {% set counter = 1 %}
                    {% for language in languages %}
                        {% set counter = counter + 1 %}
                        <div class="resume-language">
                            <div class="resume-name">{{language.name}}</div>
                            <div class="resume-rate wow animate__animated animate__flipInX" data-wow-delay="{{0.15*counter}}s" data-wow-duration="1s">
                                <div class="resume-rate-line" style="width: {{language.rate * 10}}%;"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>