{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/index/index.css')}}">
    <link rel="stylesheet" href="{{asset('css/index/skill.css')}}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="index_about_me_container">
            <img src="" alt="My photo">
            <div class="index_about_me">
                <a href="" class="paragraph_title index_about_me_unit"># About me</a>
                <p class="index_about_me_unit">
                    Hello! My name is Dmytrii Lukiashchenko.
                    I am 18 years old. I am from Ukraine.
                    I have been in the field of programming for 4 years.
                    I know the syntax of languages such as:
                </p>
                <div class="index_about_me_unit">
                    <div>
                        <a href="">"Python"</a>
                        <a href="">"JavaScript"</a>
                        <a href="">"HTML"</a>
                    </div>
                    <div>
                        <a href="">"CSS"</a>
                        <a href="">"C#"</a>
                        <a href="">"Java"</a>
                        <a href="">"PHP"</a>
                    </div>
                </div>
                <p class="index_about_me_unit">
                    and a couple of libraries for them. 
                    I intend to continue to deepen my knowledge and find my favorite language, 
                    which is currently "PHP".
                </p>
                <a href="" class="index_button index_about_me_unit">More about me</a>
            </div>
        </div>
    </div>
    <div class="container">
        {% include "index/skills.html.twig" with {"skills": skills, "projects": projects}%}
    </div>
{% endblock %}