@use "../../colors";

.about-container {
    margin:40px 0px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;

    img {
        width: 500px;
        height: 550px;
        background-color: rgb(245,245,245);
    }

    .about {
        font-size: 110%;
        width:100%;
        .title {
            color: black;
            font-size: 180%;
            margin: 20px 0px;
            font-weight: 400;
        }

        .little-description {
            color: rgb(44, 44, 44);
        }

        .double-element {
            margin: 30px 0px;
            display: grid;
            grid-template-columns: 40% 60%;;
            align-items: center;
            width:450px;

            .name {
                color:black;
                font-weight:600;
            }

            .description {
                color: rgb(44, 44, 44);
            }
        }

        .buttons {
            display: flex;
            .index-button-wrapp {
                width:100%;
                display:flex;
                justify-content: left;
                align-items: center;
                margin: 50px 30px;
                font-weight: 600;
    
                .index-button {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    $width: 150px;
                    $height: 50px;
    
                    width:$width;
                    height:$height;
                    position: relative;
    
                    color: colors.$dark-color;
                    font-size: 110%;
                    text-decoration: none;
    
                    cursor: pointer;
    
                    &:hover {
                        svg {
                            rect {
                                stroke-dasharray: 100%;
                                stroke-dashoffset: -$width - $height + $width;
                                stroke-width: 4px;
                            }
                        }
                    }
    
                    svg {
                        position: absolute;
                        width:$width;
                        height:$height;
    
                        rect {
                            width:$width;
                            height:$height;
    
                            stroke-dasharray: $width 600;
                            stroke-dashoffset: -$width - $height;
                            stroke-width: 8px;
                            stroke-linecap: round;
                            fill: transparent;
                            stroke: colors.$dark-color;
                            transition: stroke-opacity 1s, stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
                        }
                    }
                }
            }
        }
    }
}