@use "../../colors";

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  min-height:680px;

  background-image: url("../../../public/images/main.jpg");

  .contacts {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    margin: 0px 20px;
    
    .contact {
      margin-top: 10px;
      position: relative;
      a {
        margin: 0px 10px;
        display:flex;
        flex-direction: column;
        align-items: center;

        div {
          width:0px;
          color: white;
          text-decoration: none;
          text-align: right;
          position: absolute;
          right:70px;
          overflow: hidden;

          top: 10px;

          transition: width 1s ease;
        }

        img {
          width: 40px;
          height:40px;
        }
      }
    }
  }
}

.home-container {
  position: relative;
  display: flex;
  justify-content: center;
  width:100%;
  left:0;
  top:0;
  right:0;
  bottom:0;

  .home-describe {
    display: grid;
    justify-items: center;
    align-items: center;
    color: white;
    width:auto;
    height: 100vh;
    gap: 50px;

    .describe {
      width:450px;
      h1,span {
        font-size: 2.5rem;
        text-align: left;
        font-weight: 700;
      }

      .type-element:first-child {
        width:100px;
      }

      .type-element {
        margin-bottom: -12px;
        display:inline-block;
        width: 0px;
        color: colors.$red-color;
        overflow-x: hidden;
        transition: width 1s ease;
      }
    
      .home-name,
      .typewriter {
        color: colors.$red-color;
      }
    }
  }

  .home-scroll-container {
    display: flex;
    align-items: center;

    img:first-child {
      transform:rotate(180deg);
      -ms-transform:rotate(180deg); /* IE 9 */
      -moz-transform:rotate(180deg); /* Firefox */
      -webkit-transform:rotate(180deg); /* Safari and Chrome */
      -o-transform:rotate(180deg); /* Opera */
    }

    img {
      width:30px;
      height:30px;
      object-fit: contain;
      cursor: pointer;
      margin: 0px 20px;
    }

    .scroll-content {
      display: flex;
      width:300px;
      overflow: hidden;
      position: relative;

      .content {
        min-width:300px;
        text-align: center;
        display:inline-block;
        font-size: 110%;

        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
          cursor: default;

          transform:rotate(0);
          -ms-transform:rotate(0); /* IE 9 */
          -moz-transform:rotate(0); /* Firefox */
          -webkit-transform:rotate(0); /* Safari and Chrome */
          -o-transform:rotate(0); /* Opera */
        }

        div {
          margin: 20px 0px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .home-describe {
    grid-template-columns: 100%;
    margin-top: 100px;
  }

  .home {
    height:900px;
    background-size: 560%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 600px) {
  .home-describe {
    grid-template-columns: 100%;
    margin-top: 100px;
  }

  .home {
    height:900px;
    background-size: 460%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .home-describe {
    grid-template-columns: 100%;
    margin-top: 100px;
  }

  .home {
    height:900px;
    background-size: 360%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .home-describe {
    grid-template-columns: 50% 50%;
  }

  .home {
    height:600px;
    background-size: 260%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .home-describe {
    grid-template-columns: 50% 50%;
  }

  .home {
    height:600px;
    background-size: 160%;
  }
}