@use "../../colors";

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  min-height:680px;

  background-image: url("../../../public/images/main.jpg");
}

.home-container {
  display: flex;
  justify-content: center;
  width:100%;
  left:0;
  top:0;
  right:0;
  bottom:0;
}

.home-describe {
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    width:auto;
    height: 100v;
    gap: 30px;
}

.describe {
  width:450px;

    h1,span {
        font-size: 2.5rem;
        text-align: left;
        font-weight: 700;
    }

    .home-name,
    .typewriter {
        color: colors.$red-color;
    }
} 

  @keyframes typing {
    0.0000%, 20.3488% { content: ""; }
    1.1395%, 19.2093% { content: "P"; }
    2.2791%, 18.0698% { content: "PH"; }
    3.4186%, 17.9302% { content: "PHP"; }
  
    24.7674%, 35.2791% { content: ""; }
    25.9070%, 35.1395% { content: "C"; }
    27.0465%, 33.0000% { content: "C#"; }
  
    35.6977%, 55.2093% { content: ""; }
    36.8372%, 54.0698% { content: "P"; }
    37.9767%, 53.9302% { content: "Py"; }
    38.1163%, 52.7907% { content: "Pyt"; }
    39.2558%, 51.6512% { content: "Pyth"; }
    40.3953%, 50.5116% { content: "Pytho"; }
    41.5349%, 49.3721% { content: "Python"; }
  
    62.6279%, 85.8605% { content: ""; }
    63.7674%, 84.7209% { content: "S"; }
    64.9070%, 83.5814% { content: "SQ"; }
    65.0465%, 82.4419% { content: "SQL"; }
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .typewriter {
    --caret: currentcolor;
  }
  
  .typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
  }
  
  .typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.5s linear infinite;
  }
  
  .typewriter.thick::after {
    border-right: 1ch solid var(--caret);
  }
  
  .typewriter.nocaret::after {
    border-right: 0;
  }
  
  
  @media (prefers-reduced-motion) {
    .typewriter::after {
      animation: none;
    }
    
    @keyframes sequencePopup {
      0%, 100% { content: "PHP"; }
      25% { content: "C#"; }
      50% { content: "Python"; }
      75% { content: "SQL"; }
    }
  
    .typewriter::before {
      content: "PHP";
      animation: sequencePopup 12s linear infinite;
    }
  }

@media only screen and (max-width: 600px) {
  .home-describe {
    grid-template-columns: 100%;
    margin-top: 100px;
  }

  .home {
    height:900px;
    background-size: 560%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 600px) {
  .home-describe {
    grid-template-columns: 100%;
    margin-top: 100px;
  }

  .home {
    height:900px;
    background-size: 460%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .home-describe {
    grid-template-columns: 100%;
    margin-top: 100px;
  }

  .home {
    height:900px;
    background-size: 360%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .home-describe {
    grid-template-columns: 50% 50%;
  }

  .home {
    height:600px;
    background-size: 260%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .home-describe {
    grid-template-columns: 50% 50%;
  }

  .home {
    height:600px;
    background-size: 160%;
  }
}