@use "../../colors";

.skills-container {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;

    .skill-choise {
        .skill-button-wrapp {
            width:100%;
            margin:20px 20px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @mixin button {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                $width: 280px;
                $height: 400px;
                padding: 0px 10px;

                width:$width;
                height:$height;
                position: relative;

                color: colors.$white-color;

                background-color: rgb(255,255,255);

                cursor: pointer;

                transition: background-color .5s ease;

                div {
                    display: grid;
                    grid-template-columns: 100%;
                    justify-items: center;
                    img {
                        width: 60px;
                        height: 60px;
                        object-fit: cover;
                        margin-bottom: 20px;
                    }

                    div {
                        color: colors.$dark-color;
                        width:100%;
                        font-size: 110%;
                    }
                }

                &:hover {
                    background-color: rgb(243, 243, 243);

                    svg {
                        rect {
                            $delta: calc($width / 5);
                            $newWidth: calc($width - $delta * 2);
        
                            stroke-width: 2px;
                            stroke-dasharray: $newWidth 1000;
                            stroke-opacity: 100;
                            stroke-dashoffset: -$width - $height - $delta;
                        }
                    }
                }
        
                svg {
                    position: absolute;
                    width:$width;
                    height:$height;
        
                    rect {
                        width: $width;
                        height: $height;
        
                        stroke-dasharray: $width 800;
                        stroke-dashoffset: -$width - $height;
                        stroke-width: 8px;
                        stroke-linecap: round;
                        fill: transparent;
                        stroke: colors.$dark-color;
                        transition: stroke-opacity 1s, stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
                    }
                }
            }

            .skill-button-active {
                @include button;

                border-radius: 5px;
                background-color: rgb(243, 243, 243);

                svg {
                    rect {
                        stroke-opacity: 100%;
                    }
                }
            }

            .skill-button {
                @include button;

                svg {
                    rect {
                        stroke-opacity: 0%;
                    }
                }
            }
        }
    }

    .skill-container {
        margin: 50px 0px;
        display:grid;
        grid-template-columns: 100%;
        justify-items: center;
        .skill-no-active {
            display: none;
        }

        .skill {
            width:100%;
            display:grid;
            justify-items: center;

            .title {
                margin: 20px 0px;
            }

            .full-description {
                width:400px;
                font-size: 120%;
                margin-top: 100px;
            }

            .code-example {
                width:100%;
                height:auto;
                background-color: rgba(255, 255, 255, 0.815);
                padding: 20px;
                border-radius: 5px;
                overflow: auto;
                white-space: pre-wrap;
                font-family: Courier, monospace;
                font-size: 16px;
            
                code {
                  background: none;
                }
            }
        }
    }
}


@media only screen and (min-width: 600px) {
    .skill-choise {
        display: grid;
        grid-template-columns: 100%;
    }

    .skill {
        grid-template-columns: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .skill-choise {
        display: grid;
        grid-template-columns: 100%;
    }

    .skill {
        grid-template-columns: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .skill-choise {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .skill {
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (min-width: 1200px) {
    .skill-choise {
        display: flex;
    }

    .skill {
        grid-template-columns: 50% 50%;
    }
}