@use "../../colors";

.about-container {
    justify-items: center;
    align-items: center;
    height: auto;
    padding-bottom: 100px;

    .image-container {
        width:50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            opacity: 100%;
            object-fit:fill;
            background-color: rgb(245,245,245);
        }
    }

    .about {
        font-size: 110%;

        .little-description {
            color: rgb(44, 44, 44);
        }

        .title {

            padding: 50px 0px;
            margin: 30px 0px;
        }

        .double-element {
            margin: 30px 0px;
            display: grid;
            grid-template-columns: 40% 60%;;
            align-items: center;
            width:90%;

            .name {
                color:black;
                font-weight:600;
            }

            .description {
                color: rgb(44, 44, 44);
            }
        }

        .buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .index-button-wrapp {
                $width: 300px;
                $height: 50px;
                flex-grow: 1;
                flex-basis: $width;
                max-width: $width;
                display:flex;
                justify-content: left;
                align-items: center;
                font-weight: 600;
                margin: 10px 10px;
    
                .index-button {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width:$width;
                    height:$height;
                    position: relative;
    
                    color: colors.$dark-color;
                    font-size: 110%;
                    text-decoration: none;
    
                    cursor: pointer;
    
                    &:hover {
                        svg {
                            rect {
                                stroke-dasharray: 100%;
                                stroke-dashoffset: -$width - $height + $width;
                                stroke-width: 4px;
                            }
                        }
                    }
    
                    svg {
                        position: absolute;
                        width:$width;
                        height:$height;
    
                        rect {
                            width:$width;
                            height:$height;
    
                            stroke-dasharray: $width 600;
                            stroke-dashoffset: -$width - $height;
                            stroke-width: 8px;
                            stroke-linecap: round;
                            fill: transparent;
                            stroke: colors.$dark-color;
                            transition: stroke-opacity 1s, stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 450px) {
    .about-container {
        display: flex;
        flex-direction: column;

        .image-container {
            margin-top: 50px;
        }
    }
}
  
$windowTableSisze: 600px, 768px;
@each $size in $windowTableSisze {
    @media only screen and (min-width: $size) {
        .about-container {
            display: flex;
            flex-direction: column;

            .image-container {
                margin-top: 50px;
            }
        }
    }
}

$windowDefaultSizes: 992px, 1200px;
@each $size in $windowDefaultSizes {
    @media only screen and (min-width: $size) {
        .about-container {
            display: flex;
            flex-direction: row;
        }
    }
}