$dark-color: rgb(1,22,39);
$blue-color: rgb(27,153,139);
$red-color: rgb(240, 100, 73);
$white-color: rgb(255,255,242);
$t-color: rgb(245, 226, 200);
$w-blue-color: #19f6e8;
$w-white-color: rgb(245, 245, 245);