@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

$deviceSizes: 768px, 600px, 992px, 1200px;

.container {
    display: flex;
    justify-content: center;
    z-index:50;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
}