{% extends 'base.html.twig' %}

{% block title %}Add a new skill{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/db/skill/add.css')}}">
    <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <form name="skill" method="post" action="/db/skill/add">
        <div id="skill">
            {% if error_message is defined%}
                <div class="error_message">
                    <p>{{error_message}}</p>
                </div>
            {% endif %}
            {% if post.skill is defined%}
                <div class="information">
                    <p>A skill called {{skill.name}} was added to the database</p>
                </div>
            {% endif %}
            <h1>Add a new skill in the database</h1>
            <div>
                <label for="skill_name" class="required">Name:</label>
                <br>
                <input type="text" class="form-control" id="skill_name" name="skill[name]" placeholder="PHP" required="required">
            </div>
            <div>
                <label for="skill_duration" class="required">Duration:</label>
                <br>
                <input type="text" class="form-control" id="skill_duration" name="skill[duration]" placeholder="5 years" required="required">
            </div>
            <div>
                <label for="skill_project_language" class="required">Project languages:</label>
                <br>
                <input type="text" class="form-control" id="skill_project_language" name="skill[projectLanguage]" placeholder="PHP" required="required">
            </div>
            <div>
                <label for="skill_rate" class="required">Rate:</label>
                <br>
                <input type="number" class="form-control" id="skill_rate" name="skill[rate]" placeholder="3.5" required="required">
            </div>
            <div>
                <button type="submit" class="form-control" id="skill_save">Save project</button>
            </div>
        </div>
    </form>
{% endblock %}
