.index_about_me_container {
    display: grid;
    margin-top: 100px;
    width:1000px;
}

.index_about_me_container>img {
    margin-right: 40px;
    height: 500px;
    background-color: rgb(60,60,60);
}

.index_about_me_unit {
    font-size: 130%;
    margin:30px 0px;
}

.index_about_me_unit>div>a {
    text-decoration: none;
    font-size: 135%;
    margin-left: 10px;
}

.index_about_me_unit>div>a:hover {
    text-decoration:underline;
}

.index_button {
    padding: 10px 20px;
    border: 2px solid var(--button-color);
    text-decoration: none;
    transition: background-color .5s ease;
}

.index_button:hover {
    text-decoration:underline;
}

.paragraph_title {
    font-size: 150%;
    text-decoration: none;
    color: var(--button-color);
}

.paragraph_title:hover {
    color: rgb(60,60,60);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .index_about_me_container {
        grid-template-columns: 100%;
    }

    .index_about_me_container>img {
        margin-right: 0px;
    }

    .index_about_me {
        margin-top: 20px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 600px) {
    .index_about_me_container {
        grid-template-columns: 100%;
    }

    .index_about_me_container>img {
        margin-right: 0px;
    }

    .index_about_me {
        margin-top: 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .index_about_me_container {
        grid-template-columns: 50% 50%;
    }

    .index_about_me_container>img {
        margin-right: 40px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .index_about_me_container {
        grid-template-columns: 50% 50%;
    }

    .index_about_me_container>img {
        margin-right: 40px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .index_about_me_container {
        grid-template-columns: 50% 50%;
    }

    .index_about_me_container>img {
        margin-right: 40px;
    }
}

.index_skills_container {
    margin-top: 70px;
    width:1000px;
}

.skill {
    display: grid;
    column-gap: 20px;
    margin: 30px 0px;
}

.skill-container>div,
.skill-description-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
    align-items: center;
}

.skill-more-button {
    margin-top: 20px;
    display: flex;
    grid-column: span 4;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: rgb(175, 175, 175);

    border: 2px solid rgb(136, 136, 136);
    padding: 10px 0px;
    margin-bottom: 20px;

    transition: color .5s ease;
}

.skill-more-button:hover {
    color: rgb(92, 92, 92);
}

.skill-int {
    padding: 10px;
    display: flex;
    height:100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 216, 216);
}

.skill-desc {
    display: flex;
    height:100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 233, 233);
}

.skill-description-int,
.skill-description {
    grid-row: span 4;
}

.skill-description {
    padding: 20px;
}

.skill-projects>div>div {
    margin: 10px 0px;
}

.skill-projects>div>div {
    margin: 10px 0px;
    text-align: center;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .skill {
        grid-template-columns: 100%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 600px) {
    .skill {
        grid-template-columns: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .skill {
        grid-template-columns: 40% 60%;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .skill {
        grid-template-columns: 40% 60%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .skill {
        grid-template-columns: 40% 60%;
    }
}

.index_language_container {
    width: 1000px;
    display:grid;
    grid-template-columns: 100%;
}

.language {
    display: grid;
    grid-template-columns: 100% 100%;
    text-align: center;
    margin: 20px 0px;
}

.language-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.language-name-container,
.language-rate-container {
    display: grid;
    grid-template-columns: auto auto;
}

.language-int,
.language-desc {
    padding: 20px;
    display: flex;
    align-items: center;
}

.language-int {
    padding: 10px;
    display: flex;
    height:100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 216, 216);
}

.language-desc {
    display: flex;
    height:100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 233, 233);
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .language-container {
        grid-template-columns: 100%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 600px) {
    .language-container {
        grid-template-columns: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .language-container {
        grid-template-columns: 50% 50%;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .language-container {
        grid-template-columns: 50% 50%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .langulanguage-containerage {
        grid-template-columns: 50% 50%;
    }
}