<div class="wrapp-conctact-container">
    <div class="container">
        <div class="conctact-container">
            <div class="contact">
                <div class="contact-name">Phones:</div>
                <div class="contact-desc">
                    <a href="tel:380685224036">+(38)0685224036</a>
                    <br>
                    <a href="tel:4888375093">+(48)883757093</a>
                </div>
            </div>
            <div class="contact">
                <div class="contact-name">LinkedIn:</div>
                <div class="contact-desc">
                    <a href="https://www.linkedin.com/in/dmytrii-lukiashchenko-490987282/">Link</a>
                </div>
            </div>
            <div class="contact">
                <div class="contact-name">Telegram:</div>
                <div class="contact-desc">
                    <a href="https://web.telegram.org/k/#5279127692">Link</a>
                </div>
            </div>
            <div class="contact">
                <div class="contact-name">Facebook:</div>
                <div class="contact-desc">
                    <a href="https://www.facebook.com/dmLukiaschenko">Link</a>
                </div>
            </div>
        </div>
    </div>
</div>