<div class="header_container">
    <div class="container">
        <div class="header">
            <a class="head_button portf_button" href="">Portfolio</a>
            <div class="nav_button">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="sub_head_container">
                    <a class="head_button" href="">About me</a>
                    <a class="head_button" href="">Skills</a>
                    <a href="" class="head_button">Languages</a>
                    <a class="head_button" href="">Projects</a>
            </div>
            <div class="sub_head_container_nav">
                <a class="head_button" href="">About me</a>
                <a class="head_button" href="">Skills</a>
                <a href="" class="head_button">Languages</a>
                <a class="head_button" href="">Projects</a>
        </div>
        </div>
    </div>
</div>


<script src="{{asset('js/jquery.js')}}"></script>
<script src="{{asset('js/header.js')}}"></script>