<div class="header_container">
    <div class="container">
        <div class="header">
            <div class="head_button" onclick="window.location.href = ''">
                <svg xmlns="http://www.w3.org/2000/svg">
                    <rect></rect>
                    <div class="header-text">Portfolio</div>
                </svg>
            </div>
            <div class="nav_button">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="sub_head_container" onclick="window.location.href = ''">
                <div class="head_button">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect></rect>
                        <div class="header-text">About me</div>
                    </svg>
                </div>
                <div class="head_button" onclick="window.location.href = ''">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect></rect>
                        <div class="header-text">Resume</div>
                    </svg>
                </div>
                <div class="head_button" onclick="window.location.href = ''">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect></rect>
                        <div class="header-text">Skills</div>
                    </svg>
                </div>
                <div class="head_button" onclick="window.location.href = ''">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect></rect>
                        <div class="header-text">Contants</div>
                    </svg>
                </div>
            </div>
            <div class="sub_head_container_nav">
                <div class="head_button">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect></rect>
                        <div class="header-text">About me</div>
                    </svg>
                </div>
                <div class="head_button" onclick="window.location.href = ''">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect></rect>
                        <div class="header-text">Resume</div>
                    </svg>
                </div>
                <div class="head_button" onclick="window.location.href = ''">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect></rect>
                        <div class="header-text">Skills</div>
                    </svg>
                </div>
                <div class="head_button" onclick="window.location.href = ''">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect></rect>
                        <div class="header-text">Contants</div>
                    </svg>
                </div>
        </div>
        </div>
    </div>
</div>
