<div class="header_container">
    <div class="container">
        <div class="header">
            <div class="head_button portf_button">
                <svg xmlns="http://www.w3.org/2000/svg">
                    <rect></rect>
                    <div class="header-text">Portfolio</div>
                </svg>
            </div>
            <div class="nav_button">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="sub_head_container">
                <div class="head_button head-home-button">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect></rect>
                        <div class="header-text">Home</div>
                    </svg>
                </div>
                <div class="head_button head-about-me-button">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect></rect>
                        <div class="header-text">About me</div>
                    </svg>
                </div>
                <div class="head_button head-resume-button">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect></rect>
                        <div class="header-text">Resume</div>
                    </svg>
                </div>
                <div class="head_button head-skills-button">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect></rect>
                        <div class="header-text">Skill</div>
                    </svg>
                </div>
                <div class="head_button head-contacts-button">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect></rect>
                        <div class="header-text">Contant</div>
                    </svg>
                </div>
            </div>
            <div class="sub_head_container_nav">
                <div class="head_button head-home-button">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect></rect>
                        <div class="header-text">Home</div>
                    </svg>
                </div>
                <div class="head_button head-about-me-button">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect></rect>
                        <div class="header-text">About me</div>
                    </svg>
                </div>
                <div class="head_button head-resume-button">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect></rect>
                        <div class="header-text">Resume</div>
                    </svg>
                </div>
                <div class="head_button head-skills-button">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect></rect>
                        <div class="header-text">Skill</div>
                    </svg>
                </div>
                <div class="head_button head-contacts-button">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect></rect>
                        <div class="header-text">Contant</div>
                    </svg>
                </div>
        </div>
        </div>
    </div>
</div>
