<link rel="stylesheet" href="{{asset('css/header.css')}}">
<div class="header">
    <div class="container">
        <a class="head_button port_button" href="">Portfolio</a>
        <div class="sub_head_container">
                <a class="head_button" href="">About me</a>
                <a class="head_button" href="">Skills</a>
                <a class="head_button" href="">Projects</a>
        </div>
    </div>
</div>