@use "../../colors";

.resume-container {
    display:grid;
    grid-template-rows: auto auto;
    justify-items: center;
    gap: 10px;
    max-width: 99%;

    .resume-chapter {
        opacity: 0%;
        display:grid;
        grid-template-columns: 100%;
        justify-items: center;
        width:100%;
    }

    .resume-rate {
        position: relative;
        height:6px;
        background-color: colors.$red-color;
        margin: 10px 0px;
        width:50%;

        &::before {
            position: absolute;
            content: "";
            width:250px;
            height:4px;
            border: 1px solid colors.$red-color;
        }
    }

    .resume-skill-description,
    .resume-language-description {
        display:flex;
        flex-direction: column;
        width:90%;
    }

    .resume-skill,
    .resume-language {
        display:flex;
        width:100%;
        margin: 10px 0px;

        .resume-name {
            display: flex;
            align-items: center;

            font-size: 110%;
            width:30%;
            margin:0x;
        }

        .skill-rate {
            width:70%;
        }
    }

    .resume-education-description {
        display: grid;
        opacity: 0%;

        .resume-education-school-title {
            font-size: 110%;
            width:100%;
            text-align: center;
            margin: 10px 0px;
        }

        .resume-education-school-description {
            padding: 0px 100px;
        }
    }

    .resume-title {
        text-align: center;
        font-size: 140%;
        margin: 20px 0px;
        color: rgb(61, 61, 61);
    }
}

$windowTableSisze: 600px, 768px;

@each $size in $windowTableSisze {
    @media only screen and (min-width: $size) {
        .resume-education-description {
            grid-template-columns: auto;
        }

        .resume-container {
            grid-template-columns: auto;
        }

        .resume-education {
            grid-column: span 1;
        }

        #chapter-title-resume {
            grid-column: span 1;
        }
    }
}

$windowDefaultSizes: 992px, 1200px;

@each $size in $windowDefaultSizes {
    @media only screen and (min-width: $size) {
        .resume-education-description {
            grid-template-columns: auto auto;
        }

        .resume-container {
            grid-template-columns: auto auto;
        }

        .resume-education {
            grid-column: span 2;
        }

        #chapter-title-resume {
            grid-column: span 2;
        }
    }
}