@use "../../colors";

.background-resume {
    background: colors.$dark-color;
}

.resume-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0px;
    color: white;


    .container-res {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .resume-sub-container {
        width: 80vw;
        justify-content: center;
        height:auto;

        .cnt {
            flex: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0px 40px;
            height: auto;

            .title {
                text-align: center;
                margin: 20px 0px;
                color: white;
            }

            .resume-language-description {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                .resume-language {
                    width: 100%;
                    margin: 20px 0px;
                }
            }

            .resume-education-school {
                .resume-education-school-title {
                    text-align: center;
                    margin: 20px 0px;
                    font-size: 120%;
                }

                .resume-education-school-description {
                    line-height: 30px;
                    text-align: center;
                }
            }
        }
    }

    .resume-skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
    }

    .resume-skill-description,
    .resume-language-description {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width:100%;
    }

    .resume-language {
        display:flex;
        width:40%;
        margin: 30px 0px;

        .resume-name {
            display: flex;
            align-items: center;

            font-size: 110%;
            width:30%;
            margin:0x;
        }

        .resume-rate {
            position: relative;
            height:6px;
            border: 1px solid colors.$red-color;
            margin: 20px 0px;
            width:100%;
    
            .resume-rate-line {
                height:4px;
                background-color: colors.$red-color;
            }
        }
    }

    .resume-education-description {
        display: grid;
        opacity: 0%;

        .resume-education-school-title {
            font-size: 120%;
            width:100%;
            text-align: center;
            margin: 10px 0px;
        }

        .resume-education-school-description {
            padding: 0px 100px;
            width: 60vw;
            line-height: 35px;
        }
    }

    .resume-title {
        text-align: center;
        margin: 20px 0px;
        color: rgb(61, 61, 61);
    }
}


@media only screen and (min-width: 450px) {
    .resume-sub-container {
        display: flex;
        flex-direction: column;
    }
}

$windowTableSisze: 600px, 768px;

@each $size in $windowTableSisze {
    @media only screen and (min-width: $size) {
        .resume-sub-container {
            display: flex;
            flex-direction: column;
        }
    }
}

$windowDefaultSizes: 992px, 1200px;

@each $size in $windowDefaultSizes {
    @media only screen and (min-width: $size) {
        .resume-sub-container {
            display: flex;
            flex-direction: row;
        }
    }
}